{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Prueba</title>
    </head>
    <body>
        <form method="POST">{% csrf_token %}
            <div id="formset">{{ formset.management_form }}
                {% for form in formset %}
                    <div class="form">
                        {{ form }}
                    </div>
                {% endfor %}
            </div>
            <br>
            <br>
            <div id="formset2">{{ formset2.management_form }}
                {% for form in formset2 %}
                    <div class="form">
                        {{ form }}
                    </div>
                {% endfor %}
            </div>
            <br>
            <br>
            <input type="submit" value="Enviar">
        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="{% static 'js/code.js' %}"></script>
        <script>
            $("#formset").mensaje({
                nameButton: 'Agregar',
                prefix: 'form'
            });
            $("#formset2").mensaje({
                nameButton: 'Agregar',
                prefix: 'form2'
            })
        </script>
    </body>
    </html>
